body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.menu-image {
    width: 100%;
   
    overflow: hidden;
    position: relative;
}

.menu-image img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover; /* Ensures the image covers the entire container */
}

@media (max-width: 768px) {
    .menu-image {
        height: 50vh; /* Adjusted height for smaller screens */
    }
}
